{
  "extends": "eslint:recommended",
  "rules": {
    "indent": [2, 4]
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "expect": true,
    "describe": true,
    "it": true,
    "browser": true
  },
  "env": {
    "node": true
  }
}
